.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: row;
}

.products {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  flex: none;
  padding-left: 5px;
  padding-right: 5px;
}

.products-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
}

.product {
  width: calc(100%/3);
}

h1 {
  padding: 0;
  margin: 0;
}

hr {
  border-color:#d3d3d3;
  width: 100%;
}

.product:hover {
  background-color:#f8f8f5;
}

.product a {
  color: #000;
  text-decoration: none;
}

.product-name {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 15px;
  text-overflow: ellipsis;
  text-align: center;
}

.product-text {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 11px;
  overflow-x: hidden;
}

.border-right {
  border-right: 1px solid #d3d3d3;
}
