

.product {
  width: 180px;
  max-height: 100px;
  margin-top: 10px;
}

hr {
  border-color:#d3d3d3;
}

.product:hover {
  background-color:#f8f8f5;
}

.product a {
  color: #000;
  text-decoration: none;
}

.product-name {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 15px;
  height: 25px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-align: center;
  white-space: nowrap;
}

.product-text {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 11px;
  overflow-x: hidden;
}

.border-right {
  border-right: 1px solid #d3d3d3;
}
